<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krona+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/6style.css"> 
    <link rel="stylesheet" href="/css/footer.css"> 
    <title>Car Service</title>
</head>
<body>
  
  <div class="header">
    <a href="/account"><img src="/img/svg/Logo.svg" alt="logo" class="Logo"></a>
    <button class="lk"><a href="/account"><h2>Личный кабинет</h2></a></button>
  </div> 
  <div class="big_container">
    <div class="container">
      <div class="registration__auto">
        <h2 class="h2">Регистрация автомобиля</h2>
        <div>
          <% if (error) { %>
              <div style="color: red;"><%= error %></div>
          <% } %>
      
          <% if (success) { %>
              <div style="color: green;"><%= success %></div>
          <% } %>
      </div>
        <form action="/car" method="POST">
          <p class="p">Марка</p>
          <input type="text" id="brand" name="brand" required>
          <p class="p">Модель</p>
          <input type="text" id="model" name="model" required>
          <p class="p">Год выпуска</p>
          <input type="number" id="year" name="year" required>
          <p class="p">Гос номер</p>
          <input type="text" id="registrationNumber" name="registrationNumber" required>
          <p class="p">VIN номер</p>
          <input type="text" id="vin" name="vin" required>
          <button type="submit" class="reg">Зарегистрировать</button>
      </form>
      </div>
      
    </div>
  </div>
  
  <footer class="footer">
    <div class="footer__container">
        <div class="footer__wrapper">
            <img src="/img/svg/Logo.svg" alt="footerlogo" class="footerlogo" />
            <div class="ooo">
              <p>ООО "КИПУ"</p>
              <p>ИНН 9709075179</p>
              <p>ОГРН 1217700488763</p>
              <p>+7 (978) 978 79 78</p>
              <p>sewspot@bk.ru</p>
            </div>
            <div class="onas">
              <div class="z"></div>
              <a href="https://www.google.com">Заказчикам</a>
              <a href="https://www.google.com">Исполнителям</a>
              <a href="https://www.google.com">Тарифы</a>
              <a href="https://www.google.com">О нас</a>
            </div>
            <div class="sotsseti">
              <a href="https://vk.com"><img src="/img/svg/Vk.svg" alt="Vk" /></a>
              <a href="https://web.telegram.org"
                ><img src="/img/svg/Tg.svg" alt="Telegram"
              /></a>
              <a href="https://web.whatsapp.com/"
                ><img src="/img/svg/WhatsAap.svg" alt="WhatsAap"
              /></a>
              <a href="https://www.youtube.com/"
                ><img src="/img/svg/Ytube.svg" alt="YouTube"
              /></a>
          </div>
      </div>
    </div>
</footer>
    <script src="a6.js"></script>
</body>
</html>